

span {
  letter-spacing: 0.025em;
}

/*Styles*/

* {
  box-model: border-box;
}
body {
  font-size: 25px;
  font-family: 'Times New Roman', serif;
  line-height: 1.3;
  font-weight: 400;
  letter-spacing: 0;
  text-align: justify;
 
}
p {
  padding: 0;
  margin: 0;
}

p.text {
  margin: 0 auto;
 
  font-size: 25px;
}

