// Side notes stuff begin at `.sidenote` selector. Scroll down!

html, body {
  font-size: 16px;
}

@mixin clearfix {
  *zoom: 1;

  &:before, &:after {
    display: table;
    content: "";
  }

  &:after {
    clear: both;
  }
}

a {
  color: #666;
  text-decoration: underline;

  &:hover {
    color: #000;
    background-color: yellow;
  }
}

article {
  font-family: Georgia, serif;
  font-size: 1rem;
  line-height: 1.5;
  color: #222;
}

.footnote-ref {
  // disable onum (Oldstyle Figures)
  font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 0, "lnum" 0, "dlig" 0, "sups" 0;

  a {
    text-decoration: none;
  }
}

// - - -
// Important stuff begins here!
// - - -

$sidenote-spacing: 0.6em;
$sidenote-color: #666 !default;

$footnote-font: "Helvetica", sans-serif;
$footnote-font-size: 0.65rem;
$footnote-line-height: 1.6;

.sidenote {
  // First, disable all this stuff on small devices
  display: none;

  padding-bottom: $sidenote-spacing;

  font-family: $footnote-font;
  font-size: $footnote-font-size;
  line-height: $footnote-line-height;

  color: $sidenote-color;

  .footnote-backref {
    display: none;
  }

  .sidenote-title {
    &:before {
      $rarr: "\2192";
      $nbsp: "\00a0";
      content: "#{$rarr}";
      margin-right: $sidenote-spacing;
      font-weight: bold;
    }
  }

  .sidenote-number {
    margin-right: $sidenote-spacing;
    display: inline-block;
    float: left;
    font-weight: bold;
  }

  p {
    margin-top: 0;
    margin-bottom: 0;

    & + p {
      margin-top: $sidenote-spacing / 2;
    }
  }
}

header, .content {
  max-width: 32em;
  padding: 1em;
  margin-left: auto;
  margin-right: auto;
}

.content.has-sidenotes {
  a, .footnote-ref {
    &:hover + .sidenote {
      .sidenote-title:before,
      .sidenote-number {
        background-color: yellow;
      }
    }
  }
}

@media screen and (min-width: 45em) {
  $article-with-sidenotes-with: 60em;
  $article-width: 70%;
  $gutter: 5%;

  /**
   * Layout:
   *
   * | ------------------------------------ | | ---------------- |
   * | lorem ipsum dolor .................. | | side note ...... |
   * | ------------------------------------ | | ---------------- |
   *
   * based on the sizes:
   *
   * | ----- $article-width --------------- | | - $side-width -- |
   *                               $gutter --^
   *
   * where `$side` and $gutter are in percent relative to `$article-width`, but
   * only `$article-width` and `$gutter` are given.
   */
  $side-width: ((100% - $article-width) * 100% / $article-width);

  .content.has-sidenotes {
    max-width: $article-with-sidenotes-with;
    @include clearfix();

    > *:not(.sidenote) {
      width: $article-width;
      box-sizing: border-box;
    }

    .sidenote {
      display: block;
      float: right;
      clear: right;

      margin-right: -1 * $side-width;
      width: $side-width - $gutter;

      vertical-align: baseline;
      position: relative;
    }

    .footnotes,
    .footnotes-sep {
      display: none;
    }
  }
}